.spinner-position {
    position: absolute;
    top: 50%;
    left: 50%;
   
    


    
  }
  
  .author-container {
    /* border: 1px solid black; */
    width: 70%;
    /* height: 600px;  */
    background-image: url("https://images.pexels.com/photos/3772623/pexels-photo-3772623.jpeg?auto=compress&cs=tinysrgb&w=600");
  }
  .bookdiv1 {
    /* "if require any div on top this map div ,here we can add details" */
  }
  .authordiv2 {
    /* border: 1px solid black; */
    margin: auto;
  }
  .bookCardDiv {
    /* border: 1px solid rgb(0, 0, 0); */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* margin: auto ; */
    /* margin-right: 1px; */
  }
  .bookCard {
    /* border: 1px solid blue; */
    width: 100%;
  }
  .bookBtn{
      /* border: 1px solid black; */
      /* display: flex; */
  }
  
  
  .title{
   
      border-bottom: 1px solid grey;
      overflow-y: auto;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      /* justify-content: center; */
  position: relative;
  }
  .author{
      display: flex;
  
      align-items: center;
      border-bottom: 1px solid grey;
  }
  .date{
      display: flex;
      border-bottom: 1px solid grey;
      align-items: center;
  }
  .isbn{
      display: flex;
      border-bottom: 1px solid grey;
      align-items: center;
  }
  .span1{
  /* border-right: 1px solid yellow; */
  width: 39%;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  font-weight: 500;
  }
  .span2{
  
      /* border-right: 1px solid yellow; */
      padding: 0px 5px 0px 5px;
      width: 39%;
      font-size: 14px;
  font-weight: 500;
  }
  .span3{
  
      /* border-right: 1px solid yellow; */
      padding: 0px 5px 0px 5px;
      width: 39%;
      font-size: 14px;
  font-weight: 500;
  }
  .span4{
      /* border-right: 1px solid yellow; */
      padding: 0px 5px 0px 5px;
      width: 39%;
      font-size: 14px;
  font-weight: 500;
  
  }
  .ed1{
      position: absolute;
      right: 0px;
      border: none;
      background-color: aqua;
      color: antiquewhite;
  
  }
  .ed1:hover{
      color: rgb(13, 227, 95);
      background-color: black;
      cursor: pointer;
  }
  .del1{
    
      border: none;
      background-color: rgb(185, 20, 152);
      color: antiquewhite;
    margin: 8px 0px;
  
  }
  .del1:hover{
      color: rgb(245, 6, 6);
      background-color: black;
      cursor: pointer;
  }
  
  .pd{
      padding: 10px 0px 0px 5px;
      width: 52%;
  }
  
  .bio{
    /* border: 1px solid rgb(245, 6, 6);; */
    width: 52% !important;
    height: 86px !important;
    overflow-y: auto;
  }
  
  
  